<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name"><h1>{{#link-to 'index'}}El Sazón{{/link-to}}</h1></li>
		<li class="toggle-topbar menu-icon"><a {{action 'toggleTopbar'}} ><span>Menú</span></a></li>
	</ul>

	<section class="top-bar-section">
		<ul class="left">
			<li>{{#link-to 'recetas'}}Recetas{{/link-to}}</li>
		</ul>

		<ul class="right">
			<li class="has-form">
				{{#link-to 'new' class="button"}}Agregar{{/link-to}}
			</li>
		</ul>
	</section>
</nav>

<div class="container">{{outlet}}</div>
