<div class="row">
	<div class="large-12 columns">
		<div class="well">
		    <p>Welcome to Yeoman and Ember.js!
		    	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dicta illum necessitatibus, error dolorem. Tempora qui eum eius vitae animi minima a laborum facere iure quis at porro eaque nam quod eligendi quae cum temporibus doloribus, aperiam maiores. Accusantium libero eveniet, culpa, dolores dolorem natus eum voluptas. Quas voluptate vitae atque quibusdam! Veritatis, pariatur iste tenetur velit quibusdam rerum beatae doloremque reprehenderit possimus. Consequuntur fugit veritatis quaerat eos sunt facilis saepe ut sapiente magni ipsa adipisci, vel minima sed nesciunt eius blanditiis velit cumque voluptatum commodi dignissimos. Ex possimus ad quas fugiat distinctio laboriosam dolorem voluptas, facere autem dolore commodi voluptates aliquam, doloribus molestias. Tenetur voluptates repellat atque laudantium ab, corporis quod ipsum dicta, saepe facere veniam in expedita ipsam! A molestias enim sed doloribus iure doloremque cumque consequuntur voluptas eaque, ratione, modi aliquam. Nihil, rem, amet. Nostrum similique placeat eius eaque hic ipsa neque rem suscipit ipsum. Iste, nulla, delectus? Obcaecati dolores voluptatem asperiores, nihil natus explicabo harum cupiditate sed facere eos incidunt, ratione cum repellat, architecto quia! Accusamus tempora earum provident, praesentium fugiat a fuga rerum aliquid molestias neque ipsa molestiae beatae voluptas maxime est magnam inventore facilis nisi qui exercitationem doloribus ullam error, cupiditate. Molestiae, vitae, voluptates.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<form action="">
			<input type="text" />
		</form>
	</div>
</div>
