<div class="row">
	<div class="large-12 columns">
		<div class="well">
		    <p>Welcome to Yeoman and Ember.js!
		    	Lorem ipsum dolor sit amet, </p>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<form action="">
			<input type="text" />
		</form>
	</div>
</div>
