<div class="row">
	<div class="large-12 columns">
		<h2>Ensaladas</h2>
	</div>
</div>

<div class="container">
	<div class="row ">
		{{#each}}
			<div class="large-6 medium-6 columns">
				<div class="receta panel">
					<div class="row">
						<div class="large-12 columns large-centered">
							<p><img {{bind-attr src="imagen"}} /></p>
						</div>
					</div>
					<h4>{{#link-to 'receta' this}} {{nombre}} {{/link-to}}</h4>
					<p>{{detalles}}</p>
				</div>
			</div>
		{{/each}}
	</div>
</div>

{{outlet}}
