<div id="add-btn-modal" class="reveal-modal" data-reveal>
	<h2>Agregar nueva receta</h2>
	<form>
		<div class="row collapse">
			<div class="large-2 small-3 columns">
				<span class="prefix">Nombre</span>
			</div>
			<div class="large-10 small-9 columns">
				<input type="text" />
			</div>
		</div>
		<div class="row collapse">
			<div class="large-2 small-12 columns">
				<span class="prefix">Instrucciones</span>
			</div>
			<div class="large-10 small-12 columns">
				<textarea rows="20"></textarea>
			</div>
		</div>
	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>