<div class="row">
	<div class="large-12 columns">
		<h2>Ensaladas</h2>
	</div>
</div>

<div class="container">
	<div class="row ">
		{{#each receta in model}}
			<div class="large-6 medium-6 columns">
				<div class="receta panel">
					<div class="row">
						<div class="large-12 columns large-centered">
							<p>{{#link-to 'receta' receta}}<img {{bind-attr src="receta.imagen"}} />{{/link-to}}</p>
						</div>
					</div>
					<h4>{{#link-to 'receta' this}} {{receta.nombre}} {{/link-to}}</h4>
					<p>{{receta.detalles}}</p>
				</div>
			</div>
		{{/each}}
	</div>
</div>

{{outlet}}
