<form class="receta-edit">
	<div class="row">
		<div class="small-12 columns">
			{{input value=nombre class="nombre"}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{input value=imagen}}
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			{{textarea value=detalles rows=10}}
		</div>
	</div>
</form>
