<div id="receta-modal" class="reveal-modal" data-reveal>
	<h2>{{nombre}}</h2>
	<img class="th text-center" {{bind-attr src="imagen"}} />
	<p>{{detalles}}</p>
	<ul>
		<li>Ad assumenda, culpa maiores molestiae nemo quae reprehenderit.</li>
		<li>Alias blanditiis cumque deserunt eligendi eos hic molestias,</li>
		<li>totam unde vero vitae? Aliquid animi culpa distinctio doloremque</li>
	</ul>
	<p>dolorum ducimus error esse expedita fugit, nisi nobis non nostrum obcaecati, officiis optio, perspiciatis possimus praesentium quaerat ratione repellat sapiente suscipit veritatis vitae voluptates voluptatum? Animi commodi consectetur et eum, in ipsum iusto, laboriosam maxime, nesciunt pariatur placeat possimus ratione reiciendis tempora totam vitae voluptas? Alias aliquam at ducimus earum error, laboriosam maxime odit quam quidem saepe? Enim in odit similique? Beatae consectetur consequuntur, debitis deleniti dolorum in modi nam necessitatibus nihil nostrum possimus quo ratione sunt voluptas, voluptatibus. Aperiam atque aut beatae dignissimos dolorem ea, eaque, est ex id illum in ipsa iste iusto magnam minus nisi nulla omnis, optio quasi repellendus reprehenderit temporibus.</p>
	<a class="close-reveal-modal">&#215;</a>
</div>
